# Ignore virtual environment 
vaeeg/
# Ignore custom vs code settings 
.vscode/
# Ignore EEG data 
/raw_data/
# Ignore processed data 
/new_data/
/new_data_downsampled/
# Ignore temporary files or caches 
*.pyc
__pycache__/
/logs/
# Ignore temporary scripts
src/temp_scripts/