# Ignore virtual environment 
vaeeg/
# Ignore custom vs code settings 
.vscode/
# Ignore EEG data 
/raw_data/
# Ignore processed data 
/new_data/
/new_data_downsampled/
# Ignore temporary files or caches 
*.pyc
__pycache__/
/logs/
# Ignore figs 
/figs/
# Ignore temporary scripts
src/temp_scripts/
# Ignore temporary model checkpoints
/models/
weights/**/save/
/models_new/
# Ignore build 
/build/
# Ignore TensorBoard logs
/tensorboard/
# Ignore jupyter notebook files
/jupyter_notebooks/
# Ignore sbatch files 
/sbatches/
# Ignore analysis files 
src/analysis/
# Ignore classifier scripts
src/classifier/
# Ignore plotting scripts 
src/plotting/
# Ignore lighten package files 
src/lighten/
# Ignore eeg-info
src/your_project_name.egg-info/
# Ignore test file 
test.py
src/test.py
# Ignore Tensorboard log files 
events.out.tfevents.*
# Ignore png files 
*.png
# Ignore jupyter notebook checkpoints
.ipynb_checkpoints/
# Ignore MacOS system files 
.DS_Store
